.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img1 {
  height: 200px;
  width: 50%;
  margin: 16px;
  flex-shrink: 0;
}

.li{
  list-style-type: none;
}

.bg-color {
  background-image: radial-gradient(#520f0a,#784494,#360352);
  padding: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul {
  display: flex;
  flex-wrap: wrap;
}